<a href="https://colab.research.google.com/github/ch-aitali/assignments/blob/main/customer_order_form_Q4hypothesis_tesing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import scipy
from scipy import stats

In [2]:
data=pd.read_csv('/content/Costomer+OrderForm.csv')

In [3]:
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [4]:
Phillippines_value=data['Phillippines'].value_counts()
Indonesia_value=data['Indonesia'].value_counts()
Malta_value=data['Malta'].value_counts()
India_value=data['India'].value_counts()

In [6]:
Phillippines_value

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [7]:
Indonesia_value

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [8]:
Malta_value

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [9]:
India_value

Error Free    280
Defective      20
Name: India, dtype: int64

In [11]:
import scipy as sp

In [12]:
chiStats = sp.stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])

In [13]:
chiStats

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [14]:
print('Test t=%f p-value=%f' % (chiStats[0], chiStats[1]))
print('Interpret by p-Value')
if chiStats[1] < 0.05:
  print('we reject null hypothesis')
else:
  print('we accept null hypothesis')

Test t=3.858961 p-value=0.277102
Interpret by p-Value
we accept null hypothesis

In [ ]:
#No defective % varies by centre