<a href="https://colab.research.google.com/github/ch-aitali/assignments/blob/main/cutlet_from_hypothesis_testing_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import scipy
from scipy import stats
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
#read file
data=pd.read_csv("/content/Cutlets.csv")

In [3]:
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [ ]:
#subseting the column names

In [5]:
data1=data["Unit A"]

In [6]:
data2=data["Unit B"]

In [ ]:
#2sample 2tail ttest

In [8]:
stats.ttest_ind(data1,data2)

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)