<a href="https://colab.research.google.com/github/ch-aitali/assignments/blob/main/navie_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB

In [2]:
test_data = pd.read_csv('/content/SalaryData_Test (1).csv')
train_data = pd.read_csv('/content/SalaryData_Train (1).csv')

In [3]:
test_data

       age      workclass      education  ...  hoursperweek          native  Salary
0       25        Private           11th  ...            40   United-States   <=50K
1       38        Private        HS-grad  ...            50   United-States   <=50K
2       28      Local-gov     Assoc-acdm  ...            40   United-States    >50K
3       44        Private   Some-college  ...            40   United-States    >50K
4       34        Private           10th  ...            30   United-States   <=50K
...    ...            ...            ...  ...           ...             ...     ...
15055   33        Private      Bachelors  ...            40   United-States   <=50K
15056   39        Private      Bachelors  ...            36   United-States   <=50K
15057   38        Private      Bachelors  ...            50   United-States   <=50K
15058   44        Private      Bachelors  ...            40   United-States   <=50K
15059   35   Self-emp-inc      Bachelors  ...            60   United-States    >50K

[15060 rows x 14 columns]

In [4]:
train_data

       age          workclass  ...          native  Salary
0       39          State-gov  ...   United-States   <=50K
1       50   Self-emp-not-inc  ...   United-States   <=50K
2       38            Private  ...   United-States   <=50K
3       53            Private  ...   United-States   <=50K
4       28            Private  ...            Cuba   <=50K
...    ...                ...  ...             ...     ...
30156   27            Private  ...   United-States   <=50K
30157   40            Private  ...   United-States    >50K
30158   58            Private  ...   United-States   <=50K
30159   22            Private  ...   United-States   <=50K
30160   52       Self-emp-inc  ...   United-States    >50K

[30161 rows x 14 columns]

In [5]:
data = test_data.append(train_data)

In [6]:
data

       age      workclass      education  ...  hoursperweek          native  Salary
0       25        Private           11th  ...            40   United-States   <=50K
1       38        Private        HS-grad  ...            50   United-States   <=50K
2       28      Local-gov     Assoc-acdm  ...            40   United-States    >50K
3       44        Private   Some-college  ...            40   United-States    >50K
4       34        Private           10th  ...            30   United-States   <=50K
...    ...            ...            ...  ...           ...             ...     ...
30156   27        Private     Assoc-acdm  ...            38   United-States   <=50K
30157   40        Private        HS-grad  ...            40   United-States    >50K
30158   58        Private        HS-grad  ...            40   United-States   <=50K
30159   22        Private        HS-grad  ...            20   United-States   <=50K
30160   52   Self-emp-inc        HS-grad  ...            40   United-States    >50K

[45221 rows x 14 columns]

In [7]:
test = test_data.copy()
train = train_data.copy()

In [8]:
str_c = ["workclass","education","maritalstatus","occupation","relationship","race","sex","native"]

In [9]:
number = LabelEncoder()

In [10]:
for i in str_c:
    train[i]= number.fit_transform(train[i])
    test[i]=number.fit_transform(test[i])

In [11]:
mapping = {' >50K': 1, ' <=50K': 2}

In [12]:
train = train.replace({'Salary': mapping})
test = test.replace({'Salary': mapping})

In [13]:
df = train.append(test)

In [14]:
df

       age  workclass  education  ...  hoursperweek  native  Salary
0       39          5          9  ...            40      37       2
1       50          4          9  ...            13      37       2
2       38          2         11  ...            40      37       2
3       53          2          1  ...            40      37       2
4       28          2          9  ...            40       4       2
...    ...        ...        ...  ...           ...     ...     ...
15055   33          2          9  ...            40      37       2
15056   39          2          9  ...            36      37       2
15057   38          2          9  ...            50      37       2
15058   44          2          9  ...            40      37       2
15059   35          3          9  ...            60      37       1

[45221 rows x 14 columns]

In [15]:
df1 = df.copy()

In [16]:
df1.head()

   age  workclass  education  ...  hoursperweek  native  Salary
0   39          5          9  ...            40      37       2
1   50          4          9  ...            13      37       2
2   38          2         11  ...            40      37       2
3   53          2          1  ...            40      37       2
4   28          2          9  ...            40       4       2

[5 rows x 14 columns]

In [17]:
df1.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [18]:
x_train = train.iloc[:,0:13]
y_train = train.iloc[:,13]
x_test = test.iloc[:,0:13]
y_test = test.iloc[:,13]

In [19]:
clsfrgnb = GaussianNB()

In [20]:
clsfrgnb.fit(x_train, y_train)

GaussianNB()

In [21]:
y_pred_gnb = clsfrgnb.predict(x_test)

In [22]:
confusion_matrix(y_test, y_pred_gnb)

array([[ 1209,  2491],
       [  601, 10759]])

In [23]:
print ("Accuracy",np.mean(y_pred_gnb==y_test.values.flatten()))

Accuracy 0.7946879150066402

In [24]:
clsfrmnb = MultinomialNB()

In [25]:
clsfrmnb.fit(x_train, y_train)

MultinomialNB()

In [26]:
y_pred_mnb = clsfrmnb.predict(x_test)

In [27]:
confusion_matrix(y_test, y_pred_mnb)

array([[  780,  2920],
       [  469, 10891]])

In [28]:
print ("Accuracy",np.mean(y_pred_mnb==y_test.values.flatten()))

Accuracy 0.7749667994687915