<a href="https://colab.research.google.com/github/ch-aitali/assignments/blob/main/recommendation_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("/content/book (1).csv",encoding='latin-1')

In [3]:
df

      Unnamed: 0  ...  Book.Rating
0              1  ...            5
1              2  ...            3
2              3  ...            6
3              4  ...            8
4              5  ...            6
...          ...  ...          ...
9995        9996  ...            7
9996        9997  ...            9
9997        9998  ...            7
9998        9999  ...            8
9999       10000  ...            6

[10000 rows x 4 columns]

In [5]:
df.drop('Unnamed: 0',
  axis='columns', inplace=True)

In [6]:
df.rename(columns={'Book.Title': 'book', 'Book.Rating': 'rating','User.ID': 'userid'}, inplace=True)

In [7]:
df

      userid                                               book  rating
0     276726                                Classical Mythology       5
1     276729                                       Clara Callan       3
2     276729                               Decision in Normandy       6
3     276736  Flu: The Story of the Great Influenza Pandemic...       8
4     276737                             The Mummies of Urumchi       6
...      ...                                                ...     ...
9995  162121       American Fried: Adventures of a Happy Eater.       7
9996  162121                              Cannibal In Manhattan       9
9997  162121                    How to Flirt: A Practical Guide       7
9998  162121                                           Twilight       8
9999  162129                       Kids Say the Darndest Things       6

[10000 rows x 3 columns]

In [8]:
df.sort_values('userid')

      userid                                               book  rating
2401       8                                              Wings       5
2400       8  The Western way: A practical guide to the West...       5
2399       8                            Ancient Celtic Romances       5
2402       8                                           Truckers       5
2405       8                                  The Art Of Celtia       7
...      ...                                                ...     ...
2395  278854      La crÃ³nica del PerÃº (CrÃ³nicas de AmÃ©rica)       7
2398  278854  Celtic Mythology (Library of the World's Myths...       8
2393  278854                         A corrente de Trewis Scott       7
2394  278854                                      As valkÃ­rias       7
2397  278854     A Treasury of Irish Myth, Legend, and Folklore       6

[10000 rows x 3 columns]

In [10]:
#number of unique users in the dataset
len(df.userid.unique())

2182

In [11]:
df['rating'].value_counts()

8     2283
7     2076
10    1732
9     1493
5     1007
6      920
4      237
3      146
2       63
1       43
Name: rating, dtype: int64

In [12]:
len(df.book.unique())

9659

In [13]:
df.book.value_counts()

Fahrenheit 451                                               5
The Amber Spyglass (His Dark Materials, Book 3)              4
Charlie and the Chocolate Factory                            4
Ender's Game (Ender Wiggins Saga (Paperback))                4
Vanished                                                     4
                                                            ..
Arrows of the Queen ( The Heralds of Valdemar, Book 1)       1
A Wreath for Rivera                                          1
The First Law                                                1
Helden wie wir.                                              1
Lion'S Lady (The Sutherland Series) (Historical , No 411)    1
Name: book, Length: 9659, dtype: int64

In [16]:
df_1=df.reset_index().pivot_table(values='rating', index='userid', columns='book', aggfunc='mean')

In [17]:
df_1

book     Jason, Madison &amp  ...  Ã?Â?bermorgen.
userid                        ...
8                        NaN  ...             NaN
9                        NaN  ...             NaN
10                       NaN  ...             NaN
12                       NaN  ...             NaN
14                       NaN  ...             NaN
...                      ...  ...             ...
278846                   NaN  ...             NaN
278849                   NaN  ...             NaN
278851                   NaN  ...             NaN
278852                   NaN  ...             NaN
278854                   NaN  ...             NaN

[2182 rows x 9659 columns]

In [18]:
#Impute those NaNs with 0 values
df_1.fillna(0, inplace=True)

In [19]:
df_1

book     Jason, Madison &amp  ...  Ã?Â?bermorgen.
userid                        ...
8                        0.0  ...             0.0
9                        0.0  ...             0.0
10                       0.0  ...             0.0
12                       0.0  ...             0.0
14                       0.0  ...             0.0
...                      ...  ...             ...
278846                   0.0  ...             0.0
278849                   0.0  ...             0.0
278851                   0.0  ...             0.0
278852                   0.0  ...             0.0
278854                   0.0  ...             0.0

[2182 rows x 9659 columns]

In [20]:
#Calculating Cosine Similarity between Users
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [21]:
user_sim = 1 - pairwise_distances( df_1.values,metric='cosine')

In [22]:
user_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [23]:
#Store the results in a dataframe
user_sim_df = pd.DataFrame(user_sim)

In [25]:
#Set the index and column names to user ids 
user_sim_df.index = df.userid.unique()
user_sim_df.columns = df.userid.unique()

In [26]:
user_sim_df.iloc[0:5, 0:5]

        276726  276729  276736  276737  276744
276726     1.0     0.0     0.0     0.0     0.0
276729     0.0     1.0     0.0     0.0     0.0
276736     0.0     0.0     1.0     0.0     0.0
276737     0.0     0.0     0.0     1.0     0.0
276744     0.0     0.0     0.0     0.0     1.0

In [27]:
np.fill_diagonal(user_sim, 0)
user_sim_df.iloc[0:5, 0:5]

        276726  276729  276736  276737  276744
276726     0.0     0.0     0.0     0.0     0.0
276729     0.0     0.0     0.0     0.0     0.0
276736     0.0     0.0     0.0     0.0     0.0
276737     0.0     0.0     0.0     0.0     0.0
276744     0.0     0.0     0.0     0.0     0.0

In [28]:
#Most Similar Users
user_sim_df.idxmax(axis=1)[0:5]

276726    276726
276729    276726
276736    276726
276737    276726
276744    276726
dtype: int64

In [29]:
df[(df['userid']==276729) | (df['userid']==276726)]

   userid                  book  rating
0  276726   Classical Mythology       5
1  276729          Clara Callan       3
2  276729  Decision in Normandy       6

In [32]:
user_1=df[df['userid']==276729]
user_1.book

1            Clara Callan
2    Decision in Normandy
Name: book, dtype: object

In [33]:
user_2=df[df['userid']==276726]
user_2.book

0    Classical Mythology
Name: book, dtype: object

In [34]:
pd.merge(user_1,user_2,on='book',how='outer')

   userid_x                  book  rating_x  userid_y  rating_y
0  276729.0          Clara Callan       3.0       NaN       NaN
1  276729.0  Decision in Normandy       6.0       NaN       NaN
2       NaN   Classical Mythology       NaN  276726.0       5.0