<a href="https://colab.research.google.com/github/ch-aitali/assignments/blob/main/TAT_REPORT_hypothesis_assigment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import scipy
from scipy import stats

In [9]:
#read file
TAT=pd.read_csv("/content/LabTAT.csv")

In [10]:
TAT.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [11]:
lab1=TAT["Laboratory 1"]

In [12]:
lab2=TAT["Laboratory 2"]
lab3=TAT["Laboratory 3"]
lab4=TAT["Laboratory 4"]

In [13]:
lab1.mean()

178.36158333333339

In [14]:
lab2.mean()

178.9029166666668

In [15]:
lab3.mean()

199.91325000000003

In [16]:
lab4.mean()

163.6827499999999

In [17]:
#ANOVA TEST because there is more than 2 samples 
import scipy.stats as stats

In [18]:
stats.f_oneway(TAT.iloc[:,0],TAT.iloc[:,1],TAT.iloc[:,2],TAT.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [ ]:
#pvalue=0 which is less than alpha value. Hence we go with alternative hypothesis
#THese means YES THERE IS DIFFERENCE IN THE AVERAGE TAT OF REPORTS OF THE LABORATORIES ON THEIR PREFERRED LIST.