<a href="https://colab.research.google.com/github/ch-aitali/assignments/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import scipy
from scipy import stats

In [2]:
data=pd.read_csv('/content/BuyerRatio (1).csv')

In [11]:
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [29]:
df_table=data.iloc[:,1:6]
df_table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [30]:
df_table.values

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [31]:
cont=stats.chi2_contingency(df_table)

In [32]:
cont

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [35]:
no_of_rows=len(df_table.iloc[0:2,0])
no_of_columns=len(df_table.iloc[0,0:4])
degree_of_f=(no_of_rows-1)*(no_of_columns-1)

In [36]:
degree_of_f

3

In [38]:
Expected_value=cont[3]

In [39]:
Expected_value

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [ ]:
#samples are in categorical form hence we use chi square test here

In [40]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2/e for o,e in zip(df_table.values,Expected_value)])
chi_square_statestic=chi_square[0]+chi_square[1]
chi_square_statestic

1.5152956451130446

In [41]:
critical_value=chi2.ppf(0.95,3)
critical_value

7.814727903251179

In [ ]:
#as chi square value is less than critical value we go with null hypothesis.
#these means MALE-FEMALE BUYER RATIOS ARE SIMILAR ACROSS REGIONS.